/* body{
    background: #BDBDBD;
} */
.jumbotron {
    background: url(/website/assets/img/bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    height: 600px;
}

/* h1 {
    display: block;
    font-size: 5em;
}

h4 {
    display: block;
    font-size: 3em;
} */